.split-pane-container {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #1e1e1e;
}

.split-pane-left,
.split-pane-right {
  min-width: 0;
  height: 100%;
  overflow: hidden;
}

.split-pane-divider {
  width: 6px;
  background-color: #2d2d2d;
  cursor: col-resize;
  transition: background-color 0.2s ease;
  flex-shrink: 0;
}

.split-pane-divider:hover {
  background-color: #3e3e3e;
}

.split-pane-divider:active {
  background-color: #007acc;
}
